/* Google Font Family - font-family: 'Staatliches', cursive; */

*{
    font-family: 'Staatliches', cursive; 
}

.circle{
    /* background-color: #0000ff; */
}

.btn{
    margin: 5px;
}

.buttonsGoHere{
    display: inline-block;
}

textarea{
    margin: 0px 5px;
    resize: none;
    position: relative;
    top: 10px;
    width: 165px;
}

.clearAll{
    background-color: red;
}

.arrayTitle{
    padding: 0;
}

.arrayHeader{
    margin-left: 0px;
}

.arrayHeader p{
    margin-bottom: 0;
}

.soloReadouts .col-3{
    float: left;
}

body {
background-image: url(../images/leaves.png);
}

